:root {
  --background: 0 0% 98.04%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --border: 0 0% 85.99%;
}

.dark {
  --background: 0deg 0% 0%;
  --foreground: 0 0% 98%;
  --card: 0deg 0% 0%;
  --border: 0 0% 14.9%;
}

body:first-of-type,
:is(html[class~='dark'] body):first-of-type {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

:is(html[class~='dark'] .dark\:nx-bg-dark).nx-bg-white,
.nx-bg-white.dark\:nx-bg-dark {
  background-color: hsl(var(--background));
  box-shadow: none;
}

.nextra-nav-container > div:first-of-type {
  background-color: hsl(var(--card) / 0.75);
  border-bottom: 1px solid hsl(var(--border));
}
