{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "typescript-sort-keys",
    "sort-destructure-keys",
    "@tanstack/query"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      { "allowTypedFunctionExpressions": false }
    ],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-console": "error",
    "no-useless-catch": "off",
    "import/no-named-as-default-member": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "typescript-sort-keys/interface": [
      "warn",
      "asc",
      { "caseSensitive": true, "natural": false, "requiredFirst": true }
    ],
    "react-hooks/exhaustive-deps": "off",
    "sort-destructure-keys/sort-destructure-keys": "warn",
    "newline-before-return": "error",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "arrowParens": "always",
        "trailingComma": "none"
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "../**",
            "group": "internal"
          },
          {
            "pattern": "./**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": [],
        "newlines-between": "always"
      }
    ]
  }
}
