.token.comment,
.token.prolog,
.token.cdata {
  @apply text-gray-600 dark:text-gray-400;
}

.token.doctype,
.token.punctuation,
.token.entity {
  @apply text-blue-600 dark:text-blue-400;
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  @apply text-orange-700 dark:text-orange-500;
}

.token.keyword {
  @apply text-purple-600 dark:text-purple-400;
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  @apply text-red-700 dark:text-red-400;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  @apply text-pink-700 dark:text-pink-400;
}

.token.variable,
.token.operator,
.token.function {
  @apply text-blue-600 dark:text-blue-400;
}

.token.url {
  @apply text-green-700 dark:text-green-500;
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  @apply text-pink-700 dark:text-pink-400;
}

/* CSS overrides */
.language-css .token.selector {
  @apply text-red-700 dark:text-red-400;
}

.language-css .token.property {
  @apply text-orange-700 dark:text-orange-500;
}

.language-css .token.function,
.language-css .token.url > .token.function {
  @apply text-blue-600 dark:text-blue-400;
}

.language-css .token.url > .token.string.url {
  @apply text-green-700 dark:text-green-500;
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  @apply text-red-700 dark:text-red-400;
}

/* JS overrides */
.language-javascript .token.operator {
  @apply text-purple-600 dark:text-purple-400;
}

.language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  @apply text-red-700 dark:text-red-400;
}

/* JSON overrides */
.language-json .token.operator {
  @apply text-gray-600 dark:text-gray-400;
}

.language-json .token.null.keyword {
  @apply text-purple-600 dark:text-purple-400;
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  @apply text-gray-600 dark:text-gray-400;
}

.language-markdown .token.url > .token.content {
  @apply text-sky-700 dark:text-sky-500;
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  @apply text-sky-700 dark:text-sky-500;
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  @apply text-gray-600 dark:text-gray-400;
  font-style: italic;
}

.language-markdown .token.code-snippet {
  @apply text-green-700 dark:text-green-500;
}

.language-markdown .token.bold .token.content {
  @apply text-orange-700 dark:text-orange-500;
}

.language-markdown .token.italic .token.content {
  @apply text-purple-600 dark:text-purple-400;
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  @apply text-orange-700 dark:text-orange-500;
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}

/* Plugin overrides */
/* Selectors should have higher specificity than those in the plugins' default stylesheets */

/* Show Invisibles plugin overrides */
.token.token.tab:not(:empty):before,
.token.token.cr:before,
.token.token.lf:before,
.token.token.space:before {
  @apply text-gray-600 dark:text-gray-400;
}

/* Match Braces plugin overrides */
/* Note: Outline colour is inherited from the braces */
.rainbow-braces .token.token.punctuation.brace-level-1,
.rainbow-braces .token.token.punctuation.brace-level-5,
.rainbow-braces .token.token.punctuation.brace-level-9 {
  color: hsl(5, 74%, 59%);
}

.rainbow-braces .token.token.punctuation.brace-level-2,
.rainbow-braces .token.token.punctuation.brace-level-6,
.rainbow-braces .token.token.punctuation.brace-level-10 {
  color: hsl(119, 34%, 47%);
}

.rainbow-braces .token.token.punctuation.brace-level-3,
.rainbow-braces .token.token.punctuation.brace-level-7,
.rainbow-braces .token.token.punctuation.brace-level-11 {
  color: hsl(221, 87%, 60%);
}

.rainbow-braces .token.token.punctuation.brace-level-4,
.rainbow-braces .token.token.punctuation.brace-level-8,
.rainbow-braces .token.token.punctuation.brace-level-12 {
  color: hsl(301, 63%, 40%);
}

/* Diff Highlight plugin overrides */
/* Taken from https://github.com/atom/github/blob/master/styles/variables.less */
pre.diff-highlight > code .token.token.deleted:not(.prefix),
pre > code.diff-highlight .token.token.deleted:not(.prefix) {
  background-color: hsla(353, 100%, 66%, 0.15);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {
  background-color: hsla(353, 95%, 66%, 0.25);
}

pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {
  background-color: hsla(353, 95%, 66%, 0.25);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix),
pre > code.diff-highlight .token.token.inserted:not(.prefix) {
  background-color: hsla(137, 100%, 55%, 0.15);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::-moz-selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {
  background-color: hsla(135, 73%, 55%, 0.25);
}

pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection,
pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {
  background-color: hsla(135, 73%, 55%, 0.25);
}
