@tailwind base;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary;
    @apply cursor-pointer;
  }

  html[data-theme-id="1"] {
    --background: 220 20% 97%;
    --foreground: 213deg 26% 7%;
    --card: 220 0% 100%;
    --card-foreground: 213deg 26% 7%;
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --primary: 220 74% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 74% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 40.54% 92.75%;
    --muted-foreground: 215.4deg 16.3% 45.32%;
    --accent: 220 24.65% 89.72%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 57.5% 43.47%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 23.97% 88.97%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;
    --base: 220 74% 50%;
    --base-foreground: 210 40% 98%;
  }

  html[data-theme-id="1"].dark {
    --background: 220 12% 5%;
    --foreground: 0 0% 98%;
    --card: 220 20% 7%;
    --card-foreground: 0 0% 98%;
    /* --popover: var(--card); */
    /* --popover-foreground: var(--card-foreground); */
    --primary: 220 84% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 74% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 15.79% 11.41%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 220 16.63% 16.36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 61% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 15.61% 13.28%;
    /* --input: var(--border); */
    /* --ring: var(--primary); */
    --base: 220 84% 59%;
    --base-foreground: 210 40% 98%;
  }
}
