@tailwind base;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary;
    @apply cursor-pointer;
  }

  html[data-theme-id="1"] {
    --background: 220 37% 96%;
    --foreground: 213deg 26% 7%;
    --card: 220 37% 100%;
    --card-foreground: 213deg 26% 7%;
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --primary: 220 74% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 74% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 37% 96%;
    --muted-foreground: 215 16% 33%;
    --accent: 220 37% 86%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 57.5% 43.47%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 18% 90%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;
    --cover: 220 74% 50%;
    --cover-foreground: 210 40% 98%;
  }

  html[data-theme-id="1"].dark {
    --background: 220 32% 5%;
    --foreground: 0 0% 98%;
    --card: 220 32% 7%;
    --card-foreground: 0 0% 98%;
    /* --popover: var(--card); */
    /* --popover-foreground: var(--card-foreground); */
    --primary: 220 84% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 40 74% 50%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 32% 11%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 220 32% 14%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 61% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 16% 12%;
    /* --input: var(--border); */
    /* --ring: var(--primary); */
    --cover: 220 64% 39%;
    --cover-foreground: 210 40% 98%;
  }
}
