@tailwind base;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary;
    @apply cursor-pointer;
  }

  .theme_1 {
    --background: 204deg 45.45% 95.69%;
    --foreground: 213.33deg 25.71% 6.86%;
    --card: 0 0% 100%;
    --card-foreground: 213.33deg 25.71% 6.86%;
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216deg 21.31% 88.39%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210deg 9.23% 92.15%;
    --muted-foreground: 215.4deg 16.3% 45.32%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 57.5% 43.47%;
    --destructive-foreground: 210 40% 98%;
    --border: var(--muted);
    --input: var(--border);
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    html.dark & {
      --background: 0deg 0% 0%;
      --foreground: 0deg 0% 100%;
      --card: 213.33deg 21.74% 7.42%;
      --card-foreground: 210 40% 98%;
      --popover: 226.67deg 15.25% 11.57%;
      //  --popover-foreground: var(--card-foreground);
      --primary: 221.2 83.2% 53.3%;
      --primary-foreground: 210 40% 98%;
      --secondary: 230deg 13.95% 16.86%;
      --secondary-foreground: 210 40% 98%;
      --muted: 222.86deg 14.49% 13.91%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 226.67deg 15.13% 16.64%;
      --accent-foreground: 210 40% 98%;
      --destructive: 359.67deg 80.36% 43.92%;
      --destructive-foreground: 210 40% 98%;
      // --border: var(--muted);
      // --input: var(--border);
      --ring: 224.3 76.3% 48%;
    }
  }
}
