@tailwind base;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary;
    @apply cursor-pointer;
  }

  .theme_1 {
    --background: 204deg 45.45% 95.69%;
    --foreground: 213.33deg 25.71% 6.86%;
    --card: 0 0% 100%;
    --card-foreground: 213.33deg 25.71% 6.86%;
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 204deg 39.74% 89.18%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 204deg 40.54% 92.75%;
    --muted-foreground: 215.4deg 16.3% 45.32%;
    --accent: 204deg 24.65% 89.72%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 57.5% 43.47%;
    --destructive-foreground: 210 40% 98%;
    --border: 204deg 23.97% 88.97%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;

    html.dark & {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240deg 17.07% 8.04%;
      --card-foreground: 0 0% 98%;
      // --popover: var(--card);
      // --popover-foreground: var(--card-foreground);
      --primary: 221.2deg 84.31% 59.32%;
      --primary-foreground: 210 40% 98%;
      --secondary: 240deg 16.92% 12.75%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240deg 15.19% 13.32%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240deg 16.63% 16.36%;
      --accent-foreground: 0 0% 98%;
      --destructive: 359.67deg 80.36% 43.92%;
      --destructive-foreground: 210 40% 98%;
      --border: 240deg 15.61% 13.28%;
      // --input: var(--border);
      // --ring: var(--primary);
    }
  }
}
