@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary;
    @apply cursor-pointer;
  }

  :root {
    --background: 220 40% 98%;
    --foreground: 213deg 5% 8%;
    --card: 220 40% 100%;
    --card-foreground: 213deg 26% 7%;
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --primary: 220 58% 47%;
    --primary-foreground: 220 40% 98%;
    --secondary: 220 42% 94%;
    --secondary-foreground: 210 40% 2%;
    --muted: 220 40% 96%;
    --muted-foreground: 220 8% 44%;
    --accent: 220 40% 92%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 57% 43%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 20% 90%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;
    --cover: 220 80% 67%;
    --cover-foreground: 210 40% 98%;
  }

  .dark {
    --background: 220 11% 7%;
    --foreground: 0 0% 98%;
    --card: 225 11% 10%;
    --card-foreground: 0 0% 98%;
    /* --popover: var(--card); */
    /* --popover-foreground: var(--card-foreground); */
    --primary: 220 83% 60%;
    --primary-foreground: 220 40% 98%;
    --secondary: 216 10% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 228 11% 15%;
    --muted-foreground: 216 0% 68%;
    --accent: 216 3% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 75% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 10% 16%;
    /* --input: var(--border); */
    /* --ring: var(--primary); */
    --cover: 216 64% 39%;
    --cover-foreground: 210 40% 98%;
  }
}

@layer utilities {
  .underline-strike-through {
    text-decoration: underline line-through;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
