@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-strike-through {
    text-decoration: underline line-through;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
