name: Build

on:
  pull_request:
    branches: '*'
    types:
      - opened
      - edited
      - synchronize

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9.5.0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build Scripts
        run: pnpm build:scripts

      - name: Install scripts
        run: pnpm install

      - name: Run config init
        run: pnpm config:init:skip-database

      - name: Build
        run: pnpm build
